*,
*::before,
*::after {
    box-sizing: border-box;
    color: #fff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: #000 !important;
}

.chakra-drawer__content {
    background-color: #000;
}