.home-page-subscribe {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.subscribe-btn {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}