.shop-item {
    &-thumbnail img {
        object-fit: cover;
    }

    &-details {

    }

    &-name {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 0;
    }
}

.shop-item-sold-out {
    color: #ff0000;
}